@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --color-main: #ffffff;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border: #e0e3e6;
}

.dark {
  --color-main: #ffffff;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border: #252629;
}

/* BASE STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

body {
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */

.container {
  width: 100%;
  height: 200vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}

.app {
  width: 100%;
  max-width: 1200px;
  height: 90%;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(212, 18, 18, 0.05);
  position: relative;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  position: relative;
  left: 160%;
  font-size: 30px;
  color: var(--color-dark);
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}

/* Projects STYLES */

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.projects-title,
.projects-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.projects-count {
  font-size: 18px;
  color: var(--color-gray);
}

.projects-list {
  padding: 0;
  margin: 16px 0;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.projects-list::-webkit-scrollbar {
  display: none;
}

.projects-list-item {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.projects-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.projects-list-item h3,
.projects-list-item p span {
  font-weight: 600;
}

.projects-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.projects-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.floating-button > svg {
  fill: var(--color-bg);
}

/*==============================
=>  Project Styles
================================*/

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.project-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.project-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.project-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.project textarea {
  background-color: var(--color-white);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 25vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.project textarea:active,
.project textarea:focus {
  outline: none;
  border: none;
}

.project textarea::-webkit-scrollbar {
  display: none;
}

/* Profile STYLES */
.wrapper {
  display: flex;
  align-items: center;
  height: 35vh;
  justify-content: center;
  background: var(--color-lighter);
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
  width: 21%;
  height: 100%;
  background: url("https://i.imgur.com/ew0MSGa.jpeg");
  background-size: cover;
  cursor: pointer;
  border: 12px;
  border-top-right-radius: 35px !important;
  border-radius: 6px;
}

.profile-information-left {
  display: flex;
  width: 33%;
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.profile-information-right {
  display: flex;
  width: 33%;
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
  border-top-right-radius: 35px !important;
  border-radius: 6px;
}

.profile:hover .overlay {
  opacity: 1;
}

.social-icons {
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: space-between;
  left: 20%;
}

.social-icons li {
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}

.social-icons li:hover {
  background: #fff;
  color: #000;
}

.overlay .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column;
}

.mask {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.bg-info {
  background-color: #39c0ed !important;
}
